.content-wrapper
  .row
    %h1
      Thanks!
    %p
      Thanks for sending me an email. whatever your question or request may be, expect a perseus like response. Looking forward to hearing from you!