.content-wrapper.gray-bg
  %a{ name: "contact" }
  .row
    %h2
      %i.fa.fa-envelope.user-icon
      email me!
    %p Looking for a developer? Have a question? Shoot me an email below!
    %form{ action: "/contact", method: "post" }
      - if @contact.present?
        = haml :"shared/_errors", locals: {obj: @contact}

      %label{ for: "contact_body" }
      %textarea#post_body.pull-right{ name: "contact[body]", rows: "10", tabindex: "1" }
        - if @contact.present?
          = @contact.body
      %br

      %input.btn.btn-teal.pull-right{ type: "submit", value: "email", tabindex: "4" }

      %input.pull-right.margin-right.margin-top{ id: "contact_email", name: "contact[your_email]", type: "text", value: (@contact.your_email if @contact.present?), tabindex: "3"} 
      
      %label.pull-right.margin-top{ for: "contact_email" }
        %i.fa.fa-envelope.user-icon

      %input.pull-right.margin-right.margin-top{ id: "contact_name", name: "contact[your_name]", type: "text", value: (@contact.your_name if @contact.present?), tabindex: "2" } 
      
      %label.pull-right.margin-top{ for: "contact_name" }
        %i.fa.fa-user.user-icon
          