.content-wrapper.gray-bg
  .row
    %h2
      %i.fa.fa-envelope.user-icon
      email me!
    %form{ action: "/contact", method: "post" }
      =# haml :"shared/_errors", locals: {obj: @contact}

      %label{ for: "contact_body" }
      %textarea#post_body.pull-right{ name: "contact[body]", rows: "10" }
        email message here...
        =# @contact.body
      %br

      %input.btn.btn-teal.pull-right{ type: "submit", value: "email" }

      %input.pull-right.margin-right.margin-top{ id: "contact_name", name: "contact[name]", type: "text", value: "your email"} 
        /#@contact.name
      %label.pull-right.margin-top{ for: "contact_name" }
        %i.fa.fa-user.user-icon
          