.footer
  .row
    %ul
      %a{ href: "https://twitter.com/Ram1R6Z" }
        %li
          %img{ src: "/images/twitter-icon.png"}
      %a{ href: "http://www.linkedin.com/pub/matt-ramirez/40/515/262" }
        %li
          %img{ src: "/images/linked-icon.png"}
      %a{ href: "https://github.com/mbramire" }
        %li
          %img{ src: "/images/github-icon.png"}
      %a{ href: "http://stackoverflow.com/users/1459209/matt" }
        %li
          %img{ src: "/images/stack-icon.png"}
      %li
        %a{ href: "/archive" }
          archive |
        %p.tiny-txt 
          webdevstory.com &#8482; trademark pending 
          = Time.now.year
      %li
        %a{ href: "/about" }
          about me |
      %li
        %a{ href: "/" }
          home
