%ul#portfolio-links
  %li.span-4
    %a{ href: "/portfolio/gradester" }
      %img{ src: 'images/portfolio/gradester.png' }
  %li.span-4
    %a{ href: "/portfolio/neprofile" }
      %img{ src: 'images/portfolio/neprofile.png' }
  %li.span-4
    %a{ href: "/portfolio/haggleit" }
      %img{ src: 'images/portfolio/haggleit.png' }
  %li.span-4
    %a{ href: "/portfolio/neaccess" }
      %img{ src: 'images/portfolio/neaccess.png' }
  %li.span-4
    %a{ href: "/portfolio/journalbooks" }
      %img{ src: 'images/portfolio/journalbooks.png' }
  %li.span-4
    %a{ href: "/portfolio/idproxy" }
      %img{ src: 'images/portfolio/idproxy.png' }
.clear