%nav.header
  %a{ href: "/" }
    %img.main-logo{ src: "/images/main-logo.png"} 
  %ul.fa-ul
    %li
      %a{ href: "/" } 
        home
    %li 
      %a{ href: "/about" } 
        about me
    %li 
      %a{ href: "/posts" } 
        archive

