%nav.header
  %a{ href: "/" }
    %img.main-logo{ src: "/images/main-logo.png"} 
  %ul
    %a{ href: "/" } 
      %li
        home
    %a{ href: "/about" }
      %li 
        about me
    %a{ href: "/posts" } 
      %li 
        archive
.content-wrapper.image-bg.nav-chrome

