%label{ for: "category_title"}
  Title:
%br

%input{ id: "category_title", name: "category[title]", type: "text", value: "#{@category.title}"}
%br

%input{ id: "category_image", name: "category[image]", type: "file" }
%br