#banner {
  text-align: center;
  height: 350px;
  font-weight: 200;

  .name {
    font-size: 2.5em;
    color: white
  }

  .tagline {
    font-size: 1.2em;
    color: white;
  }

  .banner-icons {
    margin: 0 auto 20px;
    height: 91px;
    background-repeat: no-repeat;
    background-position: 40px center;
    background-image: url("/images/banner-icons.png"); // falback for < IE 9
    background-image: url("/images/banner-icons.svg");
  }

  .banner-txt-cont {
    width: 555px;
    line-height: 1em;
    margin: 0 auto;
    padding-top: 73px;
  }

  #banner-portrait {
    background-image: url("/images/portrait.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    float: right;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
}