$primary:   rgb(78,177,188);  /* teal */
$secondary: rgb(73,121,201);  /* dk blue */
$color-3:   rgb(77,162,211);  /* med blue */
$color-4:   rgb(77,211,187);  /* green-blue */
$color-5:   rgb(73,201,142);  /* aqua-green */
$red:       rgb(173, 0, 0);   /* dark red */

$margin: 25px;
$link-color: $primary;

@mixin round-corners {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin cursor {
  cursor: pointer;
  cursor: hand;
}

@mixin social-hover($file) {
  background-image: url("/images/social-icon-" + $file + ".png"); // falback for < IE 9
  background-image: url("/images/social-icon-" + $file + ".svg");

  &:hover {
    background-position: 0 -48px;
  }
}
