.pull-left {
  float: left;
}

.pull-right {
  float: right
}

.margin-top {
  margin-top: 15px;
}

.margin-right {
  margin-right: 15px;
}

.margin-top-large {
  margin-top: 40px;
}

.pad-all {
  padding: 15px;
}

.pad-right {
  padding-right: 15px;
}