@import "mixins_variables";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   html 5 reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* end reset */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

/* global */
body {
  background: black;
  background-image: url("/images/footer-guy.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  color: white;
}

/* typography */
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.tiny-txt {
  font-size: .6em;
}

.bold-txt {
  font-weight: 600;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  color: $primary;
  margin-bottom: $margin;

  &.post-header {
    margin: 0 0 0 15px;
  }
}

h2 {
  @extend h1;
  font-size: 1.2em;
  margin-bottom: 15px;

  .gray-box & {
    color: black;
    font-weight: 200;
    margin-bottom: 0;
  }

  .gray-bg & {
    color: white;
  }
}

p {
  margin-bottom: $margin;

  .gray-box & {
    margin-bottom: 0;
  }
}

/* buttons and links */

.btn {
  @include round-corners;
  @include cursor;
  border: none;
  background: $primary;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  margin: 15px 0; 

  &:hover {
    background: lighten($primary, 10%);
  }

  &.btn-teal {
    background: $color-4;

    &:hover {
      background: lighten($color-4, 10%);
    }
  }

  &.btn-delete {
    background: $red;
  }
}

a {
  color: $primary;
  text-decoration: none;

  & .gray-box {
    color: black;
  }
}

/* images */

img {

  &.sml-icon {
    width: 30px;
    @include round-corners;

    ul & {
      position: relative;
      top: 8px;
    }
  }

  &.med-icon {
    width: 47px;
    @include round-corners;
  }

  &.lg-icon {
    width: 87px;
    @include round-corners;
  }
}

/* lists */

ul {
  margin-bottom: $margin;
}

/* forms */

input, textarea {
  @include round-corners;
  border: none;
  background: lighten(gray, 45%);
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;

  .gray-bg & {
    background: rgb(55,55,55);
    color: white;
  }
}

textarea {
  resize: none;
  width: 100%;
}

.user-icon {
  color: gray;
  margin-right: 5px;
  padding-top: 9px;
}

.error-list {
  li {
    margin-right: 10px;
    font-size: .8em;
    color: $red;
    float: left;
  }
}

/* layout */

section {
  margin-top: 40px;
}

.gray-box {
  @include round-corners;
  background: lighten(gray, 45%);
  padding: 15px;
  margin-bottom: $margin;
  overflow: auto;

  .preview-wrapper {
    padding-left: 100px;
    line-height: 1.2em;

    p {
      font-size: .8em;
    }
  }
}

.hdr-cont {
  height: 87px;
  margin-left: 90px;
  display: table-cell;
  vertical-align: middle;
  line-height: 1.8em;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.content-wrapper {
  width: 100%;
  background: white;
  color: black;
  line-height: 1.5em;

  &.black-bg {
    background: black;
  }

  &.gray-bg {
    background: rgb(30,30,30);
  }

  &.image-bg {
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.nav-chrome {
    height: 20px;
  }
}

.row {
  width: 750px;
  margin: 0 auto;
  padding:  40px 25px;
  overflow: auto;
}

.span-1 {
  float: left;
  width: 12.5%;
}

.span-2 {
  float: left;
  width: 25%;
}

.span-3 {
  float: left;
  width: 37.5%;
}

.span-4 {
  float: left;
  width: 50%;
}

.span-5 {
  float: left;
  width: 62.5%; 
}

.span-6 {
  float: left;
  width: 75%; 
}

.span-6 {
  float: left;
  width: 87.5%; 
}

/* surgical */
.pull-left {
  float: left;
}

.pull-right {
  float: right
}

.margin-top {
  margin-top: 15px;
}

.margin-right {
  margin-right: 15px;
}

.margin-top-large {
  margin-top: 40px;
}

.pad-all {
  padding: 15px;
}

.pad-right {
  padding-right: 15px;
}

/* headers */
.header {
  color: white;
  overflow: auto;

  .main-logo {
    width: 325px;
    height: 68px;
    padding: 24px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("/images/main-logo.png"); // falback for < IE 9
    background-image: url("/images/main-logo.svg");
  }

  li {
    float: right;
    padding: 25px 20px;
    color: white;

    a {
      text-decoration: none;
    }

    &:hover {
      background: $primary;
    }
  }
}

#drop-down {
  position: absolute;
  right: 0;
  display: none;

  a {
    color: white;
  }

  ul {
    margin-bottom: 0;
  }

  img {
    width: 47px;
    height: 47px;
  }
  
  li {
    width: 284px;
    padding: 10px;

    .raise-txt {
      position: relative;
      bottom: 15px;
      padding-left: 7px;
    }
  }
}

/* footer */
.footer {
  padding-top: 10px;
  text-align: center;
  color: rgb(131, 130, 130);
  height: 365px;

  a {
    color: rgb(131, 130, 130);
  }

  ul {
    display: inline-block;

    p {
      position: absolute;
      margin-top: 15px;
    }

    li {
      float: left;
      margin-right: 25px;
    }
  }

  .social-icon {
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;

    &.github {
      @include social-hover("github");
    }

    &.twitter {
      @include social-hover("twitter"); 
    }

    &.stack {
      @include social-hover("stack");  
    }

    &.linked {
      @include social-hover("linked");  
    }
  }
}

.admin-header {
  color: white;
  overflow: auto;
  background: $color-5;

  li {
    float: right;
    padding: 8px 20px;
    color: white;

    a {
      text-decoration: none;
    }

    &:hover {
      background: lighten($color-5, 10%);
    }
  }
}


/* page specific */
.title-container {
  height: 75px;

  h1 {
   line-height: 1.5em;
   margin-left: 115px;
  }
}

.date-container {
  height: 25px;

  p {
    padding-left: 115px;
    line-height: 1.5em;
  }
}

.portrait {
  text-align: center;
  width: 115px;
  line-height: 1em;
  margin-right: 15px;
  float: right;

  img {
    padding-bottom: 5px;
    display: block;
    height: 115px;
    width: 115px;
    -webkit-border-radius: 57.5px;
    -moz-border-radius: 57.5px;
    border-radius: 57.5px;
  }
}

.comment-container {
  padding-bottom: 10px;

  .user-name {
    background: $primary;
    color: white;
    padding-left: 5px;
  }

  p {
    font-size: .75em;
    margin-top: 5px;
  }

  &:first-of-type {
    border-top: 1px solid $primary;
    margin-top: 15px;
  }
}

.banner {
  text-align: center;
  height: 350px;
  font-size: 2.5em;
  color: white;
  font-weight: 200;

  .banner-icons {
    margin: 0 auto 10px;
    width: 275px;
    height: 91px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("/images/banner-icons.png"); // falback for < IE 9
    background-image: url("/images/banner-icons.svg");
  }

  .banner-txt-cont {
    width: 555px;
    line-height: 1em;
    margin: 0 auto;
    padding-top: 73px;
  }
}

/* gist */
.file-data {
  background: black;
  
  table {
    background: black;
  }
}

.gist-syntax {
  
  span {
      &.n, &.k, &.o, &.p {
      color: white;
    }
  }  

  .kp {
    color: rgb(153, 0, 115);
  }
}