@import "mixins_variables";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   html 5 reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* end reset */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

/* global */
body {
  background: black;
  color: white;
}

/* typography */
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.tiny-txt {
  font-size: .8em;
}

.bold-txt {
  font-weight: 600;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  color: $primary;
  margin-bottom: $margin;
  
  &.banner {
    font-size: 2.5em;
    color: white;
    font-weight: 300;
  }
}

h2 {
  @extend h1;
  font-size: 1.2em;
}

p {
  margin-bottom: $margin;
}

/* buttons and links */

.btn {
  @include round-corners;
  @include cursor;
  border: none;
  background: $primary;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  margin: 10px 0; 

  &:hover {
    background: lighten($primary, 10%);
  }

  &.btn-delete {
    background: $red;
  }
}

a {
  color: $primary;
  text-decoration: none;
}

/* images */

img {

  &.sml-icon {
    width: 30px;
    @include round-corners;

    ul & {
      position: relative;
      top: 8px;
    }
  }
}

/* lists */

ul {
  margin-bottom: $margin;
}

/* forms */

input, textarea {
  @include round-corners;
  border: none;
  background: lighten(gray, 45%);
  padding: 10px;
}

textarea {
  resize: none;
  width: 100%;
}

.user-icon {
  color: gray;
  margin-right: 5px;
  padding-top: 9px;
}

.error-list {
  li {
    margin-right: 10px;
    font-size: .8em;
    color: $red;
    float: left;
  }
}

/* layout */

section {
  margin-bottom: 40px;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.main-container {
  background: white;
  width: 100%;
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.trans-white-row-full {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.trans-black-row-full {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.black-row-full {
  width: 100%;
  background: black;
}

.row {
  width: 980px;
  margin: 0 auto;
}

.span-3 {
  float: left;
  width: 37.5%;
}

.span-5 {
  float: left;
  width: 62.5%; 
}
/* surgical */
.pull-left {
  float: left;
}

.pull-right {
  float: right
}

.margin-top {
  margin-top: 20px;
}

.margin-top-large {
  margin-top: 40px;
}

.pad-all {
  padding: 10px;
}

.pad-right {
  padding-right: 10px;
}

/* post page */

.title-container {
  height: 75px;

  h1 {
   line-height: 1.5em;
   margin-left: 115px;
  }
}

.date-container {
  height: 25px;

  p {
    padding-left: 115px;
    line-height: 1.5em;
  }
}

.portrait {
  overflow: hidden;
  position: absolute;
  height: 100px;
  width: 100px;
  background: url("/images/portrait.jpg");
  background-size: 100px
}

.content {
  color: black;
  background: white;
  padding: 20px;
  line-height: 1.5em;
}

.comment-container {
  padding-bottom: 10px;
  border-bottom: 1px solid $primary;

  .user-name {
    background: $primary;
    color: white;
    padding-left: 5px;
  }

  p {
    font-size: .75em;
    margin-top: 5px;
  }

  &:first-of-type {
    border-top: 1px solid $primary;
    margin-top: 15px;
  }
}
/* header */

.header {
  color: white;
  overflow: auto;

  .main-logo {
    padding: 20px;
    float: left;
  }

  li {
    float: right;
    padding: 25px 20px;

    a {
      text-decoration: none;
      color: white;
    }

    &:hover {
      background: $primary;
      color: white;
    }
  }
}