.content-wrapper
  .row 
    = haml :"shared/_errors", locals: {obj: @post}

    %h2
      New Post

    %form{ action: "/admin/posts", method: "post" }
      = haml :"/admin/posts/_post_form"
      %input.btn{ type: "submit", value: "Create Post" }