.content-wrapper
  .row
    %h1
      Welcome to my blog!
    .portrait
      %img{ src: "images/portrait.jpg" }
      %span.bold-txt
        Matt Ramirez
      %br
      %span.tiny-txt
        Web Developer
    %p
      During my daily web development grind, I generally run into some type of issue, problem, or even the occasional conudrum. So far I have been fortunate enough to figure things out - generally with some elbow grease, and the help of the incredibly selfless web community. As I conquer these issues, I almost always come across all sorts of cool, helpfull tidbits of web development knowledge that help me grow as a developer. 
    %p
      This blog will exist as a record of that growth, and hopefully provide insight and relief to those of you out there that share the passion. Enjoy the content, hit me up if you need some work done, and in case you are wondering... yes, I did plan this sites color scheme around the shirt I was wearing that day.
    %section
      %h2 
        Recent Posts
      - @posts.each do |r|
        = haml :"/posts/_post_preview", locals: {post: r}  
