.content-wrapper
  .row
    %h1
      Welcome to my blog!
    .portrait
      %img{ src: "images/portrait.jpg" }
      %span.bold-txt.primary
        Matt Ramirez
      %br
      %span.tiny-txt
        Web Developer
    %p
      Web development to me is about problem solving. Almost every day, we as web developers overcome various challenges - code logic, site layout, and user interaction to name a few. Like many professions, the life of a developer is about constantly learning. Our tools include a wealth of resources, that reflect the strength of our community. I've made it my goal to help shape these tools, and provide insight into the daily life of a web developer. Enjoy the content!
    %section
      %h2 
        Recent Posts
      - @posts.each do |r|
        = haml :"/posts/_post_preview", locals: {post: r}  
