%section.portfolio-project-info
  %img{ src: '/images/portfolio/haggleit.png' }
  %p Haggleit is an e-commerce focused application that allows sellers to embed a haggle button on their website, so that customers can partake in a haggling process for big ticket products. The app provides the platform for sellers and buyers to haggle back and forth until an agreed upon price and shipping method are found. Haggleit also provides basic analytics and product management for sellers.
%section.portfolio-project-features
  .image-slider
    .slide-container#haggleit
    %img{ src: '/images/portfolio/computer.png' }
    %ul.slider-btns
      %li.prev-btn prev
      %li.next-btn next
  %h2 Features & Highlights
  %ul.portfolio-highlights
    %li Developed a subscription system using Active Merchant with Authorize.net.
    %li Worked on Stripe API integration for sellers to allow them to capture payments through haggleit.
    %li Designed and helped develop an embeddable JavaScript tag that renders the haggling button on external applications.
    %li Integrated the application with Amazon SES integration for notifications.
    %li Implemented Raygun integration for performance and error monitoring.
  %h2 Key Technologies
  %ul.technology-list
    %li.ruby Ruby
    %li.rails Rails
    %li.mysql MySQL
    %li.unicorn Unicorn
    %li.nginx Nginx
    %li.capistrano Capistrano
    %li.stripe Stripe
    %li.authorizenet Authorize.net
    %li.raygun Raygun
    %li.amazon Amazon SES
    %li.amazon Amazon S3
