%section.portfolio-project-info
  %img{ src: '/images/portfolio/idproxy.png' }
  %p Many businesses, including universities, hospitals, and banks, struggle with the same identities moving through various sources of data within the organization. This can cause many issues downstream to other business systems. IDProxy imports all of that data, and through a proprietary algorithm and scoring system, is able to match similar records together, and attach them to a single master identity. This helps clients manage the entire life-cycle of a person within their systems, and helps avoid many of the integration issues involved with duplicate identities.
%section.portfolio-project-features
  .image-slider
    .slide-container#idproxy
    %img{ src: '/images/portfolio/computer.png' }
    %ul.slider-btns
      %li.prev-btn prev
      %li.next-btn next
  %h2 Highlights
  %ul.portfolio-highlights
    %li Responsible for the entire design and development of the application to the point of MVP release.
    %li Designed and developed an algorithm, that uses an attribute scoring system and threshold, to match similar records together.
    %li Designed and built a holding tank system, to allow users to make manual decisions on potential matches, and duplicates.
    %li Designed and developed a polling system that will update data import progress percentages within the application asynchronously by talking to Sidekiq.
  = haml :'portfolio/_seczetta_tech_list'
