%section.portfolio-project-info
  %img{ src: '/images/portfolio/journalbooks.png' }
  %p Haggleit is an ecommerce focused application that allows sellers to embedd a haggle button on their website, so that customers can partake in a haggling process for big ticket products. The app provides the platform for sellers and buyers to haggle back and forth until an agreed upon price and shipping method are found. Haggleit also provides basic analytics and product management for sellers.
%section.portfolio-project-features
  .image-slider
    %img{ src: '/images/portfolio/computer.png' }
    %ul.slider-btns
      %li prev
      %li next
  %h2 Features & Highlights
  %ul.portfolio-highlights
    %li Subscription plan monetization using Active Merchant with Authorize.net.
    %li Stripe API integration for sellers to allow them to capture payments through haggleit.
    %li Embeddable javascript tag that renders the haggling button on external applications.
    %li Amazon SES integration for notifications.
    %li Raygun integration for performance and error monitoring.
    %li Devise used for seller and buyer authentication.
    %li Capistrano deployment to Digital Ocean.
