%section.portfolio-project-info
  %img{ src: '/images/portfolio/neaccess.png' }
  %p
    NEAccess is an add on for
    %a{ href: '/portfolio/neprofile' } NEProfile
    that allows for third-party delegated administration and self onboarding, and management. This application was built so that the businesses using NEProfile could enable contractors, consultants, and other contingent workers to self-manage, taking the responsibility off of the business. NEAccess allows clients to build and customize on-boarding, management, and authentication workflows to dictate business requirements within the organization.
%section.portfolio-project-features
  .image-slider
    .slide-container#neaccess
    %img{ src: '/images/portfolio/computer.png' }
    %ul.slider-btns
      %li.prev-btn prev
      %li.next-btn next
  %h2 Highlights
  %ul.portfolio-highlights
    %li Responsible for the entire design and most of the development of the application to the point of MVP release.
    %li Worked on integration with various LDAP data stores including OpenLDAP, ApacheDS, and ActiveDirectory.
    %li Developed portal based roles and permissions to define permitted behavior by users within the application.
    %li Designed and developed customizable authentication workflows (state machine) that allow clients to build their own MFA processes.
    %li
      Designed and created customizable registration workflows that allow for interaction between NEAccess and
      %a{ href: '/portfolio/neprofile' } NEProfile
      users.
    %li
      Integrated the application with a Rails engine shared with
      %a{ href: '/portfolio/neprofile' } NEProfile
      to provide common functionality.
  = haml :'portfolio/_seczetta_tech_list'