%section.portfolio-project-info
  %img{ src: '/images/portfolio/neprofile.png' }
  %p NEProfile is an on-premise enterprise application that helps companies of any size manage the business processes related to a contingent workforce. The application allows designated administrators to create and customize workflows, forms, attributes, and notifications to fit any business requirements involving the onboarding, offboarding, and management of non-employees. NEProfile is currently being used by multiple well known successful corporations.
%section.portfolio-project-features
  .image-slider
    .slide-container#neprofile
    %img{ src: '/images/portfolio/computer.png' }
    %ul.slider-btns
      %li.prev-btn prev
      %li.next-btn next
  %h2 Highlights
  %ul.portfolio-highlights
    %li Responsible for the entire design and development of the application to the point of MVP release.
    %li Developed LDAP integration with Active Directory for authentication.
    %li Built fully customizable role-based permissions scheme.
    %li Designed an EAV database design to allow for a deep level of configuration by the client.
    %li Created a Rails engine to allow for shared functionality between other applications.
    %li Designed and built a customizable workflow state machine that executes processes based on business logic and conditions.
    %li Designed and developed features to allow for business users to design application pages, notifications, and forms.
    %li Worked on Liquid template integration with any customizable pages and notifications within the application.
    %li Worked on a token based restful API built specifically for integrations with other data sources.
  = haml :'portfolio/_seczetta_tech_list'
